@font-face{
    font-family: "opensans";
    src: url(./fonts/OpenSans_Condensed-Regular.ttf);
}
@font-face{
    font-family: "robotto";
    src: url(./fonts/Roboto-Light.ttf);
}
*{
    box-sizing: border-box;
}
body{
    
    margin: 0;
    padding: 0;
}
.container-liquid{
    background: var(--Black-5, rgba(30, 40, 50, 0.05));
    height: 800px;
    padding-left: 120px;
    padding-right: 120px;
    
}
.container{
    width: 100%;
    
    
}
.row{
   margin-top: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn-manual{
    
    border: none;
    background: none;
    margin-top: 20px;
}
.logo{
    margin-top: 20px;
    margin-left: 150px;
}

ul{
    display: flex;
    list-style: none;
    gap: 15px
    ;
    
    margin-top: 30px;
    
}
a{
    text-decoration: none;
    color: var(--Black, #1E2832);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "robotto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    
}
li{
    display: flex;
    
}
.acc-img{
    width: 20px;
    height: 20px;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 20px
    ;
}
.border{
   border-top: 1px solid #E3E3E3;;
}
h6{
    color: var(--Dark, #000);
    
    font-family: "opensans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    text-transform: capitalize;
}
/*      Collections     */

h3{
    color: var(--Dark, #000);
    
    font-family: "robotto";
    font-size: 74px;
    font-style: normal;
    font-weight: 300;
    line-height: 55px;
    text-transform: capitalize;
    
}
p{
    color: var(--Dark, #000);
    
    font-family: "roboto";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    text-transform: capitalize;
}
.frame{
    width: 424px;
    height: 542px;
    flex-shrink: 0;
    
    border-radius: 160px 0px;
    border: 2px solid var(--Dark-25, rgba(0, 0, 0, 0.25));
    margin-top: 60px;
    position: absolute;
    right: 100px;
   
}
.col-btn{
    width: 231px;
    display: inline-flex;
    padding: 19px 26px;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 8px;
    background: var(--Black, #1E2832);
    color: var(--White, #FFF);
    
    font-family: "robotto";
    font-size: 29px;
    
    
    margin-top: 40px;
}
.collections{
    display: flex;
}
.col-girl{
    margin-left: 50px;
    margin-top: 20px;
    position: relative;
    
    
   
}
.vec-img{
    position: absolute;
    top: 300px;
    right: 0;
}
/*      MENU2       */
.menu2{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    gap: 20px
    ;
}
/*    Cards      */
.card1{
    display: flex;
    gap: 10px;
    margin-top: 60px;
}
.sml-crd{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.crd{
    height: 320px;
}
/*  prices    */
.price-cont{
   margin-left: 200px;
   margin-top: 100px;
   
}
h1{
    
    color: var(--Dark, #000);
    text-align: center;
    font-family: "robotto";
    font-size: 50px;
    font-weight: 600;
}
.prices{
    width: 1320px;
    display: flex;
   gap: 60px;
   margin-left: -180px;
   
}
h5{
    color: var(--Dark, #000);
    font-family: "opensans";
    
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    
}
.col-gr{
    color: var(--Dark-50, rgba(0, 0, 0, 0.50));    
    font-family: "opensans";
    font-size: 16px;  
    font-weight: 600; 
}

.btn{
    width: 82px;
    height: 32px;
    border: none;
    margin-top: 30px;
    margin-left: 780px; 
    display: flex;
    padding: 5px 15px;
    align-items: center;
    gap: 4px;
    background: var(--Black, #1E2832);
    color: var(--White, #FFF);
    font-family: "opensans";
    font-size: 16px;
  
}
