@font-face{
    font-family: "opensans";
    src: url(./fonts/OpenSans_Condensed-Regular.ttf);
}
@font-face{
    font-family: "robotto";
    src: url(./fonts/Roboto-Light.ttf);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container-liquid{
    background: var(--Black-5, rgba(30, 40, 50, 0.05));
    height: 800px;
}
.container{
    width: 100%;
    
    
}
.row{
   
    display: flex;
    justify-content: space-between;
}
.btn-manual{
    
    border: none;
    background: none;
    margin-top: 20px;
}
.logo{
    margin-top: 20px;
}

ul{
    display: flex;
    list-style: none;
    gap: 15px
    ;
    
    margin-top: 30px;
    
}
a{
    text-decoration: none;
    color: var(--Black, #1E2832);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "robotto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    
}
li{
    display: flex;
    
}
.acc-img{
    width: 20px;
    height: 20px;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 20px
    ;
}
.border{
   border-top: 1px solid #E3E3E3;;
}
h6{
    color: var(--Dark, #000);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "opensans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    text-transform: capitalize;
}
/*      Collections     */

h3{
    color: var(--Dark, #000);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "robotto";
    font-size: 74px;
    font-style: normal;
    font-weight: 300;
    line-height: 55px;
    text-transform: capitalize;
    margin-left: 50px;
}
p{
    color: var(--Dark, #000);
    font-feature-settings: 'clig' off, 'liga' off;
    margin-left: 50px;
    font-family: "roboto";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    text-transform: capitalize;
}
.col-btn{
    width: 231px;
    display: inline-flex;
    padding: 19px 26px;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 8px;
    background: var(--Black, #1E2832);
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "robotto";
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 50px;
    margin-top: 40px;
}
.collections{
    display: flex;
}
.col-girl{
    margin-left: 50px;
    margin-top: 20px;
}
/*      MENU2       */
.menu2{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    gap: 20px
    ;
}
/*    Cards      */
.cards{
    display: flex;
    gap: 10px;
}
